@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.frame {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 50%;
  height: 20%;
  position: relative;
  background-color: pink;
}

.game {
  width: 628px;
  height: 489px;

  top: 81px;
  left: 68px;
}

.game.night {
  width: 716px;
  top: 62px;
  left: -19px;
}

.hidden {
  display: none;
}

.buttons {
  top: 674px;
  left: 266px;
  height: 71px;
  width: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  top: 572px;
  left: 194px;
  height: 67px;
  width: 374px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poop-bag {
  top: 302px;
  left: 160px;
}

.modal {
  top: -90px;
  left: 0;
  right: 0;
  background-color: blueviolet;
  padding: 20px;
}

.modal:empty {
  display: none;
}

.modal-inner:empty {
  display: none;
}

.fox {
  top: 336px;
  left: 285px;
  overflow: hidden;
}

.fox-popping {
  top: 319px;
  left: 159px;
}

.fox-celebrate {
  top: 290px;
  left: 290px;
}

.fox-rain,
.fox-hungry,
.fox-eating {
  top: 362px;
}

.fox-egg {
  top: 289px;
  left: 248px;
}

.fox-sleep {
  top: 351px;
  left: 445px;
}

.fox-dead {
  top: 380px;
  left: 243px;
}
